:root {
    /* colors */
    --zyt-color-white: #ffffff;
    --zyt-color-black: #000000;
    --colors: (
        primary: #409eff,
        success: #67c23a,
        warning: #e6a23c,
        danger: #f56c6c,
        error: #f56c6c,
        info: #909399,
    );
    @each $val, $color in var(--colors) {
        --zyt-color-$(val): $(color);
        @for $i from 3 to 9 by 2 {
            --zyt-color-$(val)-light-$(i): mix(#fff, $(color), .$(i))
        }
        --zyt-color-$(val)-light-8: mix(#fff, $(color), .8);
        --zyt-color-$(val)-dark-2: mix(#fff, $(color), .2);
    }
    --zyt-bg-color: #ffffff;
    --zyt-bg-color-page: #f2f3f5;
    --zyt-bg-color-overlay: #ffffff;
    --zyt-text-color-primary: #303133;
    --zyt-text-color-regular: #606266;
    --zyt-text-color-secondary: #909399;
    --zyt-text-color-placeholder: #a8abb2;
    --zyt-text-color-disabled: #c0c4cc;
    --zyt-fill-color: #f0f2f5;
    --zyt-fill-color-light: #f5f7fa;
    --zyt-fill-color-lighter: #fafafa;
    --zyt-fill-color-extra-light: #fafcff;
    --zyt-fill-color-dark: #ebedf0;
    --zyt-fill-color-darker: #e6e8eb;
    --zyt-fill-color-blank: #ffffff;
    --zyt-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
    --zyt-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
    --zyt-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .12);
    --zyt-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);

    --zyt-overlay-color: rgba(0, 0, 0, .8);
    --zyt-overlay-color-light: rgba(0, 0, 0, .7);
    --zyt-overlay-color-lighter: rgba(0, 0, 0, .5);
    --zyt-mask-color: rgba(255, 255, 255, .9);
    --zyt-mask-color-extra-light: rgba(255, 255, 255, .3);

    /* border */
    --zyt-border-width: 1px;
    --zyt-border-style: solid;
    --zyt-border-color-hover: var(--zyt-text-color-disabled);
    --zyt-border: var(--zyt-border-width) var(--zyt-border-style) var(--zyt-border-color);
    --zyt-border-color: #dcdfe6;
    --zyt-border-color-light: #e4e7ed;
    --zyt-border-color-lighter: #ebeef5;
    --zyt-border-color-extra-light: #f2f6fc;
    --zyt-border-color-dark: #d4d7de;
    --zyt-border-color-darker: #cdd0d6;
    --zyt-svg-monochrome-grey: var(--zyt-border-color);
    --zyt-border-radius-base: 4px;
    --zyt-border-radius-small: 2px;
    --zyt-border-radius-round: 20px;
    --zyt-border-radius--circle: 100%;

    /* font */
    --zyt-font-size-extra-large: 20px;
    --zyt-font-size-large: 18px;
    --zyt-font-size-medium: 16px;
    --zyt-font-size-base: 14px;
    --zyt-font-size-small: 13px;
    --zyt-font-size-extra-small: 12px;
    --zyt-font-weight-primary: 500;
    --zyt-font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB" "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

    /* disabled */
    --zyt-disabled-bg-color: var(--zyt-fill-color-light);
    --zyt-disabled-text-color: var(--zyt-text-color-placeholder);
    --zyt-disabled-border-color: var(--zyt-border-color-light);
}